@import url('https://fonts.googleapis.com/css?family=Lato');

/* Navigations
--------------------------------------------------------------------*/

/*  reset deafault
...............................*/
.container-fluid > .navbar-collapse {
	
}
.navbar-collapse {
	border-top: 1px solid #a689e5;
	flex-grow: 1;
	align-items: flex-start;
	padding: 22px 0 0;
	
}
@media (min-width: 768px) {
	.navbar-expand-md .navbar-collapse  {
		flex-basis: 100%;
	}
}

.navbar-collapse.in {
	overflow: inherit;
}
.navbar {
	padding: 30px 0 0;
	min-height: 180px;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}
.navbar-nav {
	
}


/*  menu
...............................*/
.nav-container {
	
}
	
.nav-item {
	transition: background-color 200ms ease-in-out 0s;
	border-radius: 11px;
	outline: none;
}
.nav-link {
	text-decoration: none;
	line-height: 1.2;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
	position: relative;
	z-index: 2;
	color: #fff;
}
.navbar .navbar-nav .nav-link {
	padding: 5px 10px;
}


.nav-link:hover, .nav-item:hover .nav-link, .nav-item.show .nav-link, .nav-item.show .nav-link:focus {
	color: #000;
}

@media only screen and (min-width: 768px) {
	.navbar-nav > li:not(:last-child) {
	}
}


.nav-item:hover:not(.dropdown) {
	background-color: #fff;
}



/*  caret
...............................*/
@media only screen and (min-width: 768px) {
	.dropdown-toggle:after {
	vertical-align: 2px;
	}
	.dropdown-toggle:after,
	.nav-item.show .dropdown-toggle, .nav-item.show .dropdown-toggle:after:focus {
		color: #fff;
	}
}


/*  dropdown menu
...............................*/
.dropdown-menu {
	padding: 31px 17px 11px;
	border: 0;
	box-shadow: none;
	margin: -26px 0px 0;
	min-width: 165px;
	border-radius: 11px;
}
.dropdown-item {
    clear: both;
    font-size: 14px;
    color: #563b91;
    padding: 5px 0;
    line-height: 1.2;
}
.dropdown-item:hover {
	background-color: transparent;
	color: var(--hover);
}



/*  hover dropdown
...............................*/

/*--- click ---*/
	.dropdown-menu {
		background-color: #fff;
	}

/*--- hover ---*/
	.dropdown-menu.show {
		transform: scale(1, 1);
		opacity: 1;
	}
	@media only screen and (min-width: 768px){
		.dropdown-menu {
			transition: all .1s linear;
			transform: scale(1, 0);
			opacity: 0;
			display: block;
			transform-origin: top;
		}
		.dropdown:hover > .dropdown-menu {
			opacity: 1;
			display: block;
			z-index: 1;
			transform: scale(1, 1);
		}
	}

/*  toogle
...............................*/
.navbar-toggler {
	position: relative;
	z-index: 3;
	float: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0;
	border-radius: 0;
		color: #fff;
		width: 28px;
		height: 10px;
			padding: 4px 0;
			background-clip: content-box;
			background-color: currentColor;
			transition: background-color 200ms;
	outline: none;
}
.navbar-toggler:before, .navbar-toggler:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: currentColor;
	transition: top .4s .4s, transform .4s, background-color 200ms;
}
.navbar-toggler.collapsed:before, .navbar-toggler.collapsed:after {
	top: -2px;
}
.navbar-toggler.collapsed:after {
	top: 10px;
	width: 77%;
	left: inherit;
	right: 0;
}
.navbar-toggler:not(.collapsed) {
	color: var(--hover);
	background-color: transparent;
}
.navbar-toggler:not(.collapsed):before, .navbar-toggler:not(.collapsed):after {
	top: 4px;
	transition: top .4s, transform .4s .4s;
}
.navbar-toggler:not(.collapsed):before {
	transform: rotate(-45deg) scaleX(1);
}
.navbar-toggler:not(.collapsed):after {
	transform: rotate(45deg) scaleX(1);
}


/* @ MENU MEDIA
-----------------------------------------------*/

@media only screen and (min-width: 768px){
	.navbar-nav {
		flex-grow: 1;
		justify-content: space-around;
		align-items: center;
	}
	.navbar-nav > li {
		padding: 0 5px;
	}
	.navbar-nav > li:not(:last-child) {

	}
	.navbar-nav > li > a {

	}
}

@media only screen and (min-width: 992px){
	.navbar-nav {
		
	}
	.navbar-nav > li:not(:last-child) {
		
	}
	.dropdown-menu {

	}
}

@media only screen and (min-width: 1200px){
	.navbar-nav {

	}
	.navbar-nav > li:not(:last-child) {
		
	}
	.navbar-nav > li > a {

	}
}

@media only screen and (min-width: 1400px){
	.navbar-nav {

	}
	.navbar-nav > li:not(:last-child) {

	}
	.navbar-nav > li > a {

	}
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
	.nav-container {

	}
	.navbar-nav > li > a {

	}
}
@media only screen and (max-width: 991px)  {
	.nav-container {
		
	}
	.navbar-nav {

	}
}

@media only screen and (max-width: 991px) and (min-width: 768px){
	.navbar {

	}
	.nav-container {

	}
	.navbar-nav > li:not(:last-child) {

	}
	.navbar-nav > li {
		
	}
	.navbar-nav > li > a {

	}
	.dropdown-menu {
		
	}
}

@media only screen and (max-width: 767px) {
	.navbar-collapse {
		border: 0;
		padding: 0;
	}

	.nav-container {
		
	}

	.navbar {
		align-items: flex-start;
		padding-top: 15px;
		min-height: 70px;
		text-align: center;
	}

	.navbar-nav {
		max-width: 290px;
		margin: 0 auto 10px;
	}

	.navbar-toggler {
		margin-top: 12px;
	}

	.open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
	}

}